.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.title {
    color:var(--light-gray, #969696);
    font-size: 1.375rem;
    margin-top: 1.125rem;
}

.desc {
    font-size:0.75rem;
}

@media (min-width: 90em) { /* 1440px */
    .title {
        font-size: 3rem;
        margin-top: 1.5rem
    }

    .desc {
        font-size:1.25rem;
        margin-top: -0.5rem;
    }
}