.form {
    margin:1rem auto;
    margin-top: 1.825rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.text-field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-field {
    border: 1px solid var(--pale-blue, #c2d3ff);
    border-radius: 2rem;
    padding: 0.6rem 1.75rem;
    font-size: 0.825rem;
    min-width: 17.5rem;
}

.text-field:active,
.text-field:focus {
    outline: none;
}

.text-field::placeholder {
    color: var(--pale-blue, #c2d3ff);
}

.border-error {
    border: 1px solid var(--light-red, #ff5263);
}

.error-message {
    margin-top: 0.25rem;
    margin-bottom: 0.85rem;
    color: var(--light-red, #ff5263);
    font-size: 0.65rem;
    font-weight: 300;
    font-style: italic;
}

.notify-btn {
    margin:auto;
    background-color: var(--color-primary, #4f7df3);
    box-shadow: 0px 3px 10px 2px #C2D3FF;   
    border-radius: 2rem;
    padding-top:0.75rem;
    padding-bottom: 0.75rem;
    width: 17.5rem;
    font-size: 0.75rem;
    color: #fff;
    font-weight: 300;
    max-height: 3.5rem;
}

.notify-btn:hover {
    background-color: var(--color-hover, rgb(79, 125, 243, 0.75));
}

@media (min-width: 90em) { /* 1440px */
    .form {
        flex-direction: row;
        justify-content: center;
        column-gap: 1.5rem;
        margin-top:2.25rem;
    }

    .text-field { 
        width: 26rem;
        font-size: 1.125rem;
        padding: 0.825rem 1.75rem;
    }

    .error-message {
        align-self: flex-start;
        padding:0.25rem 2rem;
        font-size: 0.825rem;
        font-weight: 600;
    }

    .notify-btn {
        margin: 0;
        width: 12.5rem;
        font-size:1rem;
        font-weight: 600;
        padding-top:1rem;
        padding-bottom: 1rem;
    }
}