
:root {
    /* colors */
    --color-primary: #4f7df3;
    --color-hover: rgb(79, 125, 243, 0.75);
    --dark-blue: #151f29;
    --pale-blue: #c2d3ff;
    --light-red: #ff5263;
    --light-gray: #969696;

    /* fonts */
    --font-Libre-Franklin: 'Libre Franklin', sans-serif;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-Libre-Franklin)
}

.color-primary {
    color:var(--color-primary);
}

.color-darkblue {
    color: var(--dark-blue);
}

.color-paleblue {
    color: var(--pale-blue);
}

.font-bold {
    font-weight: 700;
}
